.axis line{
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
    }
    
    /* axis contour */
    .axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
    }
    
    /* axis text */
    .axis text {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 120%;
    }
    
    path.line-0 {
        fill: none;
        stroke: #ed3700;
        stroke-width: 0.5ex;
    }
    
    path.line-1 {
        fill: none;
        stroke: #2b2929;
    }
    
    path.line-2 {
        fill: none;
        stroke: #9c9c9c;
    }

    path.line-3 {
        fill: none;
        stroke: #4daf4a;
    }

    path.line-4 {
        fill: none;
        stroke: #984ea3;
        stroke-width: 0.5ex;
        stroke-dasharray: 6;
    }
    
    path.line-5 {
        fill: none;
        stroke: #ff7f00;
    }

    path.line-6 {
        fill: none;
        stroke: #067eee;
    }

    path.Rateline-0 {
        fill: none;
        stroke: #ed3700;
    }
    
    path.Rateline-1 {
        fill: none;
        stroke: #2b2929;
    }
    
    path.Rateline-2 {
        fill: none;
        stroke: #9c9c9c;
    }

    path.Rateline-3 {
        fill: none;
        stroke: #4daf4a;
    }

    path.Rateline-4 {
        fill: none;
        stroke: #984ea3;
    }
    
    path.Rateline-5 {
        fill: none;
        stroke: #ff7f00;
    }

    path.Rateline-6 {
        fill: none;
        stroke: #067eee;
    }
    
    .serie_label {
      fill: #2b2929;
      font-family: Georgia;
      font-size: 80%;
    }